.product-container {
    height: 70vh;
    margin-bottom: 100px;
    padding: 3% 5%;
    background-color: var(--color-white);
    border-radius: 50px 0 50px 50px;
    box-shadow: 5px 5px 20px var(--color-gray);
}

.product-container .vendor {
    font-size: 14px;
    font-weight: 300;
}

.product-container .videos-container {
    overflow: auto;
    height: 535px;
}

@media (min-width: 768px) {
    .product-container .videos-container {
        border-left: 1px solid var(--color-light-gray);
    }
}
