.product-container {
    height: 70vh;
    margin-bottom: 100px;
    padding: 3% 5%;
    background-color: var(--color-white);
    border-radius: 30px 0 30px 40px;
    box-shadow: 5px 5px 20px var(--color-gray);
    overflow: hidden;
}

.product-container .vendor {
    font-size: 14px;
    font-weight: 300;
}

.product-container .videos-container {
    overflow: auto;
    height: 535px;
    border-left: 1px solid var(--color-light-gray);
}

@media (max-width: 768px) {
    .product-container {
        height: auto;
        transform: translateY(-60px);
    }
    .product-container .videos-container {
        height: auto;
        border: none;
    }
}
