.promotion-card {
    position: relative;
    height: 330px;
    max-width: 210px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 3px 3px 10px 0 var(--color-gray);
    background-image: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%), radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    overflow: hidden;  
}

.promotion-card p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: var(--color-white);
    transform: translate(-50%, -50%) rotate(-35deg);
}
